.header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    padding: 10px;
    background: var(--headerGradTop);
    color: #fff;
}

/* var(name) - taken from index.css with :root{..} */

.logoContain{
    display: flex;
    align-items: center;
}

.logo{
    width: 40px;
    height: 40px;
    fill: #fff;
    margin-right: 10px;
}

.userContain{
    display: flex;
    align-items: center;
}

.user{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    color: var(--headerGradTop);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

}